body{
    font-family: 'Annie Use Your Telescope', cursive;
}

header {
	background: #2c3e50;
	padding: 20px 0; 
}

h1{
    color: white;
    font-size:  50px;
    margin-left: 35px;
}

nav {
	position: absolute;
	top: 30px;
	right: 35px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
    font-size:35px;
}

nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 0 15px
}

nav a:hover{
    color: #1abc9c;
}

main{
   background-color:  #1abc9c; 
   padding: 50px;
}

.girlpic{
    width: 20%;
    border-radius:5px;
    display: flex;
    margin: 0 auto;
}

.name{
    font-size: 45px;
    color: white;
    text-align: center;
    margin: 20px auto;
}

.name-2{
    font-size: 30px;
    color: white;
    text-align: center;
}

.projects{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    color: #2c3e50;
    margin: 50px auto;
}

.project-description{
    width: 100%; 
    font-size: 20px;
    margin-top: 20px;
}

.project-img{
    padding: 5px;
}

ul li{
    width:30%;
}

.project-description li{
    display:inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	padding: 20px 0;
	box-sizing: border-box;
	border: 5px solid #1abc9c;
	border-radius: 10px;
}

.project-description h2{
    font-size: 25px;
    font-weight: bold;
}

.project-description p{
    font-size: 18px;
    padding: 5px;
}